.TravelTime {
  list-style: none;
  margin: 0;
  padding: 0;
}

.red {
  background-color: rgb(251, 95, 95);
  border: thin solid rgb(247, 48, 48);
}

.green {
  background-color: rgb(118, 235, 48);
  border: thin solid rgb(112, 193, 63);
}

.yellow {
  background-color: rgb(233, 190, 78);
  border: thin solid rgb(210, 159, 24);
}
