.travel-filter-container {
  display: flex;
  margin-left: 1.5em;
  margin-top: 1em;
}
.travel-filter {
  border: 0;
  box-shadow: none;
  border-bottom: solid thin gray;
  background: transparent;
  height: 3rem;
  width: 75%;
  font-size: 3rem;
  opacity: 0.9;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6);
}

.search-icon {
  padding-right: 10px;
  align-self: center;
  font-weight: 100;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6)
}

.travel-filter:focus {
  outline: 0;
}
