.TravelTime {
  list-style: none;
  margin: 10px;
  padding: 10px;
  /*border: thin solid #333;*/
  border-radius: 3px;
}

.red {
  background-color: rgb(251, 95, 95);
  border: thin solid rgb(247, 48, 48);
}

.green {
  background-color: rgb(118, 235, 48);
  border: thin solid rgb(112, 193, 63);
}

.yellow {
  background-color: rgb(233, 190, 78);
  border: thin solid rgb(210, 159, 24);
}

.red-text {
  color: rgb(251, 95, 95);
}

.green-text {
  color: rgb(118, 235, 48);
}

.yellow-text {
  color: rgb(233, 190, 78);
}
